.app {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: $max-content-width;
  padding: $large-spacer 0;
  text-align: center;
  width: 100%;
}

.app__search {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-bottom: $medium-spacer;
  width: 100%;
}

.app__search input {
  display: flex;
  flex: 1;
  margin-right: $small-spacer;
}

.app__results-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: $medium-spacer;
  width: $max-content-width;
}

img.app__result-item {
  background-color: red;
  cursor: pointer;
  display: inline-block;
  height: 200px;
  margin: 0 $small-spacer $small-spacer 0;
}

@include tablet {
  .app {
    padding: $large-spacer $small-spacer;
  }

  .app__results-container {
    display: block;
    width: 100%;
  }
}

@include mobile {
  img.app__result-item {
    height: auto;
    width: 100%;
  }
}
