html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: $black-color;
  color: $white-color;
  display: flex;
  flex: 1;
  font-family: sans-serif;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
