// Dimensions
$max-content-width: 800px;
$mobile-width: 520px;

// Spacers
$large-spacer: 50px;
$medium-spacer: 20px;
$small-spacer: 10px;

// Font sizes
$h1-font-size: 3.2rem;
$h2-font-size: 2rem;
$body-font-size: 1.6rem;

// Colors
$black-color: #000;
$black-color-trans: rgba(0, 0, 0, 0.8);
$white-color: #fff;
$white-color-trans: rgba(255, 255, 255, 0.5);
